
.button{
    background-color: #0d6efd;
    width: 120px;
    height: 30px;
    color: white;
    border-color: #0d6efd;
    border: 3px solid transparent;
} 
section {
    width: 1000px;
    margin: 0 auto;
  }
  .cont {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 30px 0;
  }
  .cont h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 40px;
  }
  .cont p {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #6b6b6b;
    margin: 0 0 60px 0;
  }
  footer {
    background-color: black;
    color: white;
    padding: 0 0 60px 0;
  }
  
  footer div {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 0 50px 0;
    margin: 0 auto;
  }
  
  footer div span p{
      font-size: 16px ;
      line-height: 1.2;
      padding: 10px;
  }
  
  .footerSpan{
  margin-left: 80px;
  }
