
html, body {
  margin: 0;
  background-color: yellowgreen;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App .ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 75px;
  background-color: yellow;
}
.App .ul li {
  list-style-type: none;
}
.App .ulNav li a {
  text-decoration: none;
}
